<!DOCTYPE html>
<html>
  <head>
      <script type="text/javascript" src="main.83deba135086d87634dd.js"></script>
      <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Je suis dans la racine</p>
  </body>
</html>
